<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="com.bso.mapper.UserMapper">
	<insert id="insertUser" parameterType="User">
		<selectKey keyColumn="currId" keyProperty="usid" resultType="int" order="BEFORE">
			select seq_userInfo_usid.nextval currId from dual
		</selectKey>
		insert into userInfo(usid,uname,pwd,sex,email,addr,question,answer,status,temp,flag)
		values(#{usid},#{uname},#{pwd},#{sex},#{email},#{addr},#{question},#{answer},0,null,null)
	</insert>
	
	 <select id="findUserByUser" parameterType="User" resultType="User">
		select *from userInfo where  uname=#{uname} and pwd=#{pwd} 
	</select>
	
	<update id="updateUser" parameterType="int">
		update userInfo set status=1 where usid=#{usid}
	</update> 
</mapper>